<section class="body-wrapper">
    <aside class="side-menu">
      <div class="sidebar-toggle">
        <a class="btn btn-sm pull-left" href="">
          <i class="fa fa-bars"></i>
        </a>
        <a class="btn btn-sm pull-right" href="">
          <i class="fa fa-circle-o-notch"></i>
        </a>
        <span class="clearfix"></span>
      </div>
      <div class="sidebar-profile">
        <img src="/images/avatar.png" class="img-circle sidebar-profile-icon" />
        <div class="sidebar-profile-content">
          <strong>{{ loginuser.username | uppercase }}</strong>
          <ul class="list-inline">
            <li><a href="">Profile</a></li>
            <li><a href="">Settings</a></li>
          </ul>
        </div>
      </div>
      <ul class="aside-menu">
        <li>
          <a href="">
            <i class="fa fa-desktop"></i>
            <span class="menu-text">Dashboard</span>
          </a>
          <span class="menu-hover"></span>
        </li>
        <li>
          <a href="">
            <i class="fa fa-bar-chart"></i>
            <span class="menu-text">Analytics</span>
          </a>
          <span class="menu-hover"></span>
        </li>
        <li>
          <a href="">
            <i class="fa fa-list-alt"></i>
            <span class="menu-text">Visitor list</span>
          </a>
          <span class="menu-hover"></span>
        </li>
        <li>
          <a href="">
            <i class="fa fa-desktop"></i>
            <span class="menu-text">Chat history</span>
          </a>
          <span class="menu-hover"></span>
        </li>
        <li>
          <a href="">
            <i class="glyphicon glyphicon-king fa-lg"></i>
            <span class="menu-text">User agent</span>
          </a>
          <span class="menu-hover"></span>
        </li>
        <li>
          <a href="">
            <i class="fa fa-user"></i>
            <span class="menu-text">Profile</span>
          </a>
          <span class="menu-hover"></span>
        </li>
        <li>
          <a href="">
            <i class="fa fa-gear"></i>
            <span class="menu-text">Settings</span>
          </a>
          <span class="menu-hover"></span>
        </li>
        <li>
          <a href="">
            <i class="glyphicon glyphicon-question-sign fa-lg"></i>
            <span class="menu-text">Help</span>
          </a>
          <span class="menu-hover"></span>
        </li>
      </ul>
    </aside>
  </section>